.top {
    /* height: 68px; */
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    font-size: 15px;
}

.w3-container {
    padding: 0.01em 16px;
}

.w3-right {
    float: right !important;
}

.w3-left {
    float: left !important;
}

.w3-fluid {
    max-width: 100%;
    height: auto;
}

.w3-wide {
    font-family: "Segoe UI",Arial,sans-serif !important;
   /* letter-spacing: 4px; */
}

.w3-container:after {
    content: "";
    display: table;
    clear: both;
}

.w3-sidenav {
    overflow: hidden;
   /* position: absolute !important;*/
    background-color: rgba(0, 0, 0, 0);
}

.w3-sidenav h2 {
    font-size: 20px;
    padding-left: 20px;
    color: #000;
}

.w3-sidenav a {
    padding: 0 20px;
    color: #555;
}
.w3-sidenav a {
    display: block;
    transition: .3s;
}

.w3-card-2, .w3-example {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.w3-theme {
    color: #fff !important;
    background-color: #73AD21 !important;
}

.w3-theme a{
    color: #fff !important;
}

.w3-topnav {
    padding: 0 10px;
}
.w3-card-2, .w3-example {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.w3-right-align {
    text-align: right !important;
}
.w3-slim {
    font-family: "Segoe UI",Arial,sans-serif !important;
}
.w3-topnav {
    padding: 8px 8px;
}

.w3-topnav:after {
    content: "";
    display: table;
    clear: both;
}

.relatedtotext, .similartotext {
    display: block;
    font-size: 1.0em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.relatedto, .links{
    display: block;
}

.link a{
    float: left;
}

.link score{
    float: right;
}

#sidemenu {
    width:230px;
    display:block;
    float: left;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
    overflow:auto;
	padding-bottom: 10px;
}  /* must be same height as the footer */

#content {
    margin-left: 230px;
}

.cluster, .word{
    padding: 4px 8px;
}

.cluster a, .word a {
    display: block;
    transition: .3s;
}
.cluster a, .word a {
    padding: 0 10px;
    color: #555;
}

.link a {
    display: block;
    transition: .3s;
}
.link a {
    padding: 0 10px;
    color: #555;
}

#footer {position: relative;
	margin-top: -10px; /* negative value of footer height */
	height: 20px;
	clear: both;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/

/*References:
http://www.w3schools.com/
http://www.cssstickyfooter.com/using-sticky-footer-code.html
*/